/.hpc/
/.hroqdata.1/
/.hroqdata/
/TCacheData/
/dist/
/hroq.2000hd.ps
/hroq.aux
/hroq.hc.ps
/hroq.hd8000.ps
/hroq.hp
/hroq.ps
/log/hroq.log
/src/Data/.hroqdata/
/hroq.prof
/hroq.threaded.ps
/hroq.withlogstate.ps
/play.hs
