/.cabal-sandbox/
/.hpc/
/.hroqdata.1/
/.hroqdata/
/TCacheData/
/cabal.sandbox.config
/dist/
/hroq.2000hd.ps
/hroq.aux
/hroq.hc.ps
/hroq.hd8000.ps
/hroq.hp
/hroq.prof
/hroq.ps
/log/hroq.log
/src/Data/.hroqdata/
/subrepos/
/hroq.prof.html
/hroq.prof.time
/hroq.prof.time.html
/TAGS
